@import "tailwindcss";

@theme {
  --color-dark-blue: #000041;
  --color-light-blue: #56638A;
  --color-neon: #59F8E8;
  --color-off-white: #fefcfd;
  --color-red: #F05D5E;
}
.text-red {
    color: var(--color-red);
}
/* Custom Utilities */
.text-shadow-neon {
  text-shadow: 
    0 0 calc(5px * 0.5) var(--color-off-white),
    0 0 calc(7px * 0.5) var(--color-off-white),
    0 0 calc(18px * 0.5) var(--color-neon),
    0 0 calc(39px * 0.5) var(--color-neon),
    0 0 calc(79px * 0.5) var(--color-neon);
}

.text-shadow-green {
  text-shadow: 
    0 0 calc(5px * 0.5) var(--color-off-white),
    0 0 calc(7px * 0.5) var(--color-off-white),
    0 0 calc(18px * 0.5) var(--color-green-400),
    0 0 calc(39px * 0.5) var(--color-green-400),
    0 0 calc(79px * 0.5) var(--color-green-400);
}

.typewriter::after {
    content: "|";
    margin-left: 4px;
    color: var(--color-off-white);
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.hidden {
    display: none;
}