@import "tailwindcss";

@theme {
  --color-dark-blue: #000041;
  --color-light-blue: #56638A;
  --color-neon: #59F8E8;
  --color-off-white: #fefcfd;
  --color-red: #F05D5E;
}

.text-shadow-neon {
  text-shadow: 
    0 0 calc(5px * 0.5) var(--color-off-white),
    0 0 calc(7px * 0.5) var(--color-off-white),
    0 0 calc(18px * 0.5) var(--color-neon),
    0 0 calc(39px * 0.5) var(--color-neon),
    0 0 calc(79px * 0.5) var(--color-neon);
}
